.kanban-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    background: linear-gradient(180deg, #ffffff, #edf4faff);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    border: 0.1px solid #1976d233, ;
    padding: 1rem;
    height: 50%;
    overflow-y: auto;
}

.kanban-column {
    min-width: 220px;
}

.card-container {
    border: 1px solid rgba(2, 50, 95, 0.568);
}


@media (max-width: 1400px) {
    .kanban-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .kanban-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .kanban-grid {
        grid-template-columns: 1fr;
    }
}