.kanban-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;

    background: linear-gradient(180deg,
            #ffffff 0%,
            #f3f7fb 100%);

    border: 1px solid rgba(25, 118, 210, 0.12);
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.08);
    transition: 0.3s;

    padding: 1rem;
    height: 50%;
    overflow-y: auto;
    border-radius: 10px;
}

[data-theme="dark"] .kanban-grid {
    background: linear-gradient(180deg,
            #313131 0%,
            #131313 100%);
    border: 1px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
}

.kanban-column {
    min-width: 220px;
    background-color: rgba(93, 93, 94, 0.04);
    padding: 0.75rem;
    border-radius: 8px;
}

.kanban-column {
    min-width: 220px;
}

[data-theme="dark"] .kanban-column {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0.75rem;
    border-radius: 8px;
}

[data-theme="dark"] .card-container {
    background-color: #202637;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] .card-container:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.7);
}

.card-container {
    border: 1px solid rgba(2, 50, 95, 0.568);
}

.card-container:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}


@media (max-width: 1400px) {
    .kanban-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .kanban-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .kanban-grid {
        grid-template-columns: 1fr;
    }
}