:root {
    --black-color: #0f172a;
    --white-color: #f3f4f6;
    --green-color: #1b6838;
    --brown-color: #991b1b;
    --purple-color: #6b21a8;
    --yellow-color: #854d0e;
    --orange-color: #b05e3e;
    --gray-color: #4b5563;
    --blue-color: #1e3a8a;
    --red-color: #b91c1c;

    --light-green-color: #dcfce7;
    --light-brown-color: #fee2e2;
    --light-purple-color: #e5cdff;
    --light-yellow-color: #fef9c3;
    --light-orange-color: #ffedd5;
    --light-blue-color: #bfdbfe;
    --light-red-color: #fecaca;
    --light-gray-color: #94a3b8;
    --light-white-color: #ffffff;
}