<!-- <mat-form-field appearance="outline" class="form-field">
    <mat-label>{{ label }}</mat-label>
    <input [type]="type" matInput [formControl]="formControl" [errorStateMatcher]="matcher" [placeholder]="placeholder">
    <mat-error *ngIf="formControl.errors?.['required']">{{ label }} is required.</mat-error>
    <mat-error *ngIf="formControl.errors?.['email']">Invalid email format.</mat-error>
    <mat-error *ngIf="formControl.errors?.['minlength']">
        {{ label }} must be at least {{ formControl.errors?.['minlength'].requiredLength }} characters.
    </mat-error>
</mat-form-field> -->