<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <targets>
    <!-- File target -->
    <target name="logfile" xsi:type="File"
            fileName="Logs/logfile-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Colored console target -->
   <target name="logconsole" xsi:type="Console"
        enableAnsiEscapeSequences="true"
        layout="${longdate}|${level}|${logger}|${message}${exception:format=tostring}" />

      <!-- Define colors for different log levels -->
      <rowHighlightingRules>
        <highlightConditions condition="level == LogLevel.Trace" foregroundColor="Gray" />
        <highlightConditions condition="level == LogLevel.Debug" foregroundColor="Gray" />
        <highlightConditions condition="level == LogLevel.Info" foregroundColor="Green" />
        <highlightConditions condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlightConditions condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlightConditions condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
      </rowHighlightingRules>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole,logfile" />
  </rules>
</nlog>
