<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- Enable ASP.NET Core layout renderers if needed -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Targets -->
  <targets>
    <!-- Console target (no colors) -->
   <target name="consoleTarget" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} ${logger} ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGreen"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" backgroundColor="White"/>
    </target>


    <!-- File target -->
    <target xsi:type="File"
            name="File"
            fileName="Logs/logfile-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner= ${exception:format=tostring}}" />
  </targets>

  <!-- Logging rules -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="Console,File" />
  </rules>
</nlog>
